<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/cart.css">
</head>
<body>
  <div class="container">
    <p>Tiếp tục mua sắm</p>
    <h1>Giỏ hàng của bạn</h1>
    <div class="cart-container">
      <div class="cart-part">
        <div class="cart-img">
          <img src="https://cdn.tgdd.vn/Products/Images/42/190321/iphone-xs-max-gold-600x600.jpg" alt="">
        </div>
        <div class="cart-decs"> 
          <h3>Iphone XSmax</h3>
        </div>
        <div class="cart-quantity">
          <button class="qty-btn minus">−</button>
          <span class="quantity">1</span>
          <button class="qty-btn plus">+</button>
        </div>
        <div class="cart-price">
          <h4>$2000</h4>
        </div>
        <div class="cart-remote">
          <button class="remove-btn">Remove</button>
        </div>
      </div>
        <div class="cart-sumary">
          <div class="product-total">
            <h2>Total Product: <span id="total">$2000</span></h2>
          </div>
          <div class="product-ckeckout">
            <a href="#" class="checkout">Checkout</a>
          </div>
          <button class="remove-All">ClearALL</button>
        </div>
    </div>
  </div>
  <script src="/javascript/card.js"></script>
</body>
</html>